@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model FrontEndAssesment.Models.UsersModel
@{
}

@{
    var message = TempData["User"] as string;
}


<form asp-action="NewPassword" asp-controller="Home" method="post">


    <div class="form-outline mb-4" style="display:none" >
        <input type="email" id="registerEmail" name="email" class="form-control" value="@message" />
    </div>
    <!-- Password input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" />
        <span asp-validation-for="password" class="text-danger"></span>
    </div>


    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">New password</button>

</form>