@page
@model PlayStudiosAssesmentFront.Pages.NewPasswordModel
@{
}


<div class="form-outline mb-4">
    <input type="password" id="registerPassword" class="form-control" />
    <label class="form-label" for="registerPassword">Password</label>
</div>

<!-- Submit button -->
<button type="button" class="btn btn-primary btn-block mb-4">Submit</button>